@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    margin-left: 300px;
    padding: 0;
    background-color: #464646;
    color: #ccc9c9;
}

#main-header {
    font-size: 3rem;
    margin-bottom: 0;
}

#main-header-news {
    font-size: 3rem;
    margin-bottom: 150px;
}

#main-header-ai {
    font-size: 3rem;
    margin-bottom: 150px;
}

#main-subheader {
    font-size: 2rem;
}

.github-container {
    display: flex;
    align-items: center;
}

.instagram-container {
    display: flex;
    align-items: center;
}

.discord-container {
    display: flex;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color:#7f7f7f;
    font-size: 1.2rem;
    margin-right: 15px;
    margin-top: 10px;
}

.nav-link:hover {
    color:#ccc9c9;
    text-decoration:underline;
    text-decoration-thickness: 15% ;
    text-underline-position: under;
}

.navbar {
    display: flex;
    justify-content: right;
}

#github-username {
    font-size: 1.4rem;
    margin-left: 10px;
    color:#7f7f7f
}

#instagram-username {
    font-size: 1.4rem;
    margin-left: 10px;
    color:#7f7f7f
}

#discord-username {
    font-size: 1.3rem;
    margin-left: 10px;
    color:#7f7f7f
}

.blog-post {
    border-left: solid 5px;
    border-right: solid 5px;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 8px;
    width: 300px;
}

.post-header:hover {
    text-decoration: underline;
    text-decoration-thickness: 15%;
    text-underline-position: under;
}

.post-link {
    text-decoration: none;
    color: #ccc9c9;
}

.post-content {
    font-size: 1.3rem;
}

.post-date {
    font-size: 1rem;
}

#img-1 {
    width: 400px;
    margin-right: 500px;
    border-radius: 25%;
}

#img-2 {
    width: 400px;
    border-radius: 25%;
}

#img-row-1 {
  margin-bottom: 50px;
}

#img-row-2 {
  margin-bottom: 50px;
}

p {
    font-size: 1.5rem;
}

